.esteticafacialcaracteristicas{
    display: flex;
    flex-wrap: wrap;
    }
    
    .aside{
    @include cuadro ($colordeincidencia) 
    }
    
    span{
    @include cuadro (beige)
    }

    .productos {
    @include cuadro (black)

    }

    .textocolor {
        color: white;
    }

    .tb {
        color: white;
    }

    
    @media screen and (max-width:850px){
        .esteticafacialcaracteristicas {
            flex-direction: column;
        
        }
    
    }
    